<div class="modal-body">
  <div class="well">
    <div class="row">
      <div class="form-group col-sm-12">
        <div id="errorDiv" class="form-group" style="background-color: #0d5d17;text-align:center">
          <h3>
            <font color="white">{{successMsg}}</font>
          </h3>
        </div>
      </div>
    </div>
    <div *ngFor="let product of productList; let i = index">
      <div class="groove">
        <div class="row">
          <div class="form-group col-sm-6">
            <img [src]="imgdatapreffix+product.content_type+imgdatasuffix+product.content" /><br/>
          </div>
          <div class="form-group col-sm-6">
            <label class="control-label">Product Name: {{product.name}}</label><br/>
            <label class="control-label">Product Description: {{product.description}}</label><br/>
            <label class="control-label">Product Price:  {{getCurrency()}} {{product.price}}</label><br/>
            <label *ngIf="product.available_quantity<=10" class="control-label">Available Quantity: {{product.available_quantity}}</label><br/>
            <label class="control-label">Quantity:</label>
            <select name="qty_{{product.id}}" id="qty_{{product.id}}">
              <option value="1">1</option>   
              <option value="2">2</option>   
              <option value="3">3</option>   
              <option value="4">4</option>   
              <option value="5">5</option>   
            </select><br>
            <button type="button" (click)="addToCart(product)">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-9">
      </div>
      <div class="form-group col-sm-3">
        <button type="button" (click)="proceedToOrderSummary()">Proceed To Order Summary</button>
      </div>
    </div>
  </div>
</div>